.login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14vw;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4vh;

      button {
        width: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 10px;
        border: none;
        background-color: #1f8ef1;
        color: white;
        font-weight: 600;
        cursor: pointer;
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          /* height: 50px; */
          border-radius: 50%;
          object-fit: cover;
          opacity: 0.8;
        }
      }

      input {
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: rgba(17, 25, 40, 0.8);
        color: white;
      }
    }
  }

  .separator {
    height: 80%;
    width: 2px;
    background-color: grey;
  }
}
